{% extends 'base.html' %}
{% block title %}Teacher's Panel
{% endblock title %}

{% block body %}

<br>
<div class="sign">
  <div class="container py-4 w-50 mb-4 " style="border:2px solid #999999 ;">

        <form method="post" action="/StuReg">
        {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-center">Student Registration</h1>

    
            <div class="form-group py-3">
                <label for="floatingInput">Student Name</label>
              <input type="text" name="Sname" class="form-control" id="floatingInput" placeholder="John Dough">
              
            </div>
    
     
    
        <div class="form-group py-3">
        <label for="floatingPassword">Enter Password</label>
          <input type="password" name="Spwd" class="form-control" id="floatingPassword" placeholder="Password">
          </div>
    

              
        <label  class="form-label"> Select your Class  </label><br>
              <select name="className" id="class">
                {% for i in stu %}
                        <option value="{{i.className}}">{{i.className}}</option>
                {% endfor %}
              </select>


        <div class="checkbox mb-3">

        </div>

        <div class="col-md-12 text-center">
        <button class="w-20 btn btn-sm btn-primary" type="submit">Submit</button>
        <br><br>
        <p> Already Registered?? <a style="text-decoration:none" href="/slogin">Login here</a>
        </div>
        
    </div>
{% endblock body %}